<h1>Calculate the square of a number</h1>

<form action="/square/results">
<label for="bak_mei_pai">Enter a number</label>

<input id="bak_mei_pai" type="text" name="users_number">

<button>Calculate square</button>
</form>
