<h1>
  Payment Results
</h1>

<dl>
  <dt>
    apr input
  </dt>
  <dd>
    <%= @monthly_rate %>
  </dd>

  <dt>
    years input
  </dt>
  <dd>
    <%= @total_payments %>
  </dd>

  <dt>
    principal input
  </dt>
  <dd>
    <%= @principal_input %>
  </dd>

  <dt>
    payment results
  </dt>
  <dd>
    <%= @payment_results %>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
