<h1>Pick random number</h1>

<form action="/square/root">
<label for="anole">Minimum</label>
<input id="anole" type="text" name="random_number_min" placeholder="E.g. 1.5">

<label for="gecko">Maximum</label>
<input id="gecko" type="text" name="random_number_max" placeholder="E.g. 4.5">

<button>Calculate square root</button>
</form>
