<h1>Calculate the square root of a number</h1>

<form action="/square/root">
<label for="zebra">Enter a number</label>

<input id="zebra" type="text" name="num_to_square">

<button>Calculate square root</button>
</form>
